.stage-direction{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color:paleturquoise;

}
.stage-direction:hover{
    background-color: darkkhaki;
    color: firebrick;
}
.name{
    color: black;
    font: large;
    font-family: 'Times New Roman', Times, serif;
}

/*Speech styling*/
.robert{
    color: maroon;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.goring{
    color: orange;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
